*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'MetropolisRegular';
    font-weight: normal;
    font-style: normal;
}
p{
    font-weight: 400;
    color: #676767;
}
a,button{
    font-weight: 600;
    font-size: 12px;
}

/* header */
.top-image{
    background-image: url(../images/top-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.btn-pink{
    background-color: #ed017f;
    border-radius: 4px;
    color: white;
    border: 1px solid #ed017f ;
    padding: 10px 20px;
    font-size: 12px;
    letter-spacing: 0.1em;

}
.fa-search{
    color: #ed017f;
}
.btn-outline-pink{
    border: 1px solid #ed017f ;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 12px;
    letter-spacing: 0.1em;
    color: #ed017f;

}
.fa-phone-alt{
    color:#ed017f;
}
.fa-facebook-f{
    color:#4b7fcd;
}
.fa-youtube{
    color:#ff0000;
}
.fa-linkedin{
    color:#4a71fb;
}
.fa-instagram{
    color:#ed017f;
}



